<div id="page">
	
  <h1 class="emphnext">{{ page.title }}</h1>
  <ul class="tag_box inline">
  {% assign tags_list = page.tags %}
  {% include JB/tags_list %}
  </ul>

  {{ content }}

  <address class="signature">
	<a class="author" {{ site.author.name }}</a> 
	<span class="date">{{ page.date | date_to_long_string }}</span>
	<span class="location">{{ page.location }}</span>
  </address>
  <!--
  <div class="prev-next">
  {% if page.next %}
	<a href="{{ page.next.url }}" class="next" title="{{ page.next.title }}">Next Post &rarr;</a>
  {% endif %}
  {% if page.previous %}
	<a href="{{ page.previous.url }}" class="prev" title="{{ page.previous.title }}">&larr; Earlier Post</a>
  {% endif %}
  </div>-->
<!-- JiaThis Button BEGIN -->
<div id="ckepop"><span class="jiathis_txt"></span>
<a class="jiathis_button_tsina"></a>
<a class="jiathis_button_kaixin001"></a>
<a class="jiathis_button_qq"></a>
<a class="jiathis_button_douban"></a>
<a class="jiathis_button_fb"></a>
<a class="jiathis_button_hotmail"></a>
<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">More</a>
</div>
<script type="text/javascript" >
var jiathis_config={
	summary:"",
	hideMore:true
}
</script>
<script type="text/javascript" src="http://v2.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->


  <!--<div style="float:top;width:160px;">
	<iframe width="100%" height="75" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=1893556900&verifier=8c17d4b5&dpc=1"></iframe>
  </div>-->
</div><!-- End Page -->

{% include JB/comments %}
